.fillClip {
  pointer-events: none;

  position: absolute;
  inset: 0;

  overflow: hidden;

  border-radius: 50%;
}

.fill {
  position: absolute;
  inset: 0;
  transform: translateY(100%);

  background-color: var(--color-primary);

  transition: transform 200ms ease-out;
}

.icon {
  position: relative;
}

.errorBadge {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;

  font-size: 0.625rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  color: white;

  background-color: var(--color-error);

  &::before {
    content: "!";
  }
}
